<footer class="footer">
  <p>The specifications on this site are provided under the terms of the <a href="https://www.w3.org/Consortium/Patent-Policy-20040205/">W3C Patent Policy</a>, except where otherwise noted.</p>
  <p>The UI for this site is derived from the Antora default UI and is licensed under the MPL-2.0 license. Several icons are imported from Octicons and are licensed under the MIT license.</p>
  <p>Authored in AsciiDoc. Produced by <a href="https://antora.org/" target="_blank" rel="noopener">Antora</a> and <a href="https://asciidoctor.org/" target="_blank" rel="noopener">Asciidoctor.</p>
</footer>
